.hand {
        text-align: center;
        width: 150px;
        height: 150px;
        font-size: 45px;
        background-color: pink;
        cursor: pointer;
        /* align to center */
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
}
.notselected {
        border: 5px solid grey;
}
.selected {
        border: 5px solid red;
}
tr {
        align: center;
        width: 100%;
}
td {
        align: center;
        width: 50%;
        padding-bottom: 25px;
}